[submodule "lib/AltSoftSerial"]
	path = lib/AltSoftSerial
	url = git@github.com:PaulStoffregen/AltSoftSerial.git
[submodule "lib/RadioHead"]
	path = lib/RadioHead
	url = git@github.com:KonishchevDmitry/RadioHead.git
[submodule "lib/SFE_BMP180"]
	path = lib/SFE_BMP180
	url = git@github.com:KonishchevDmitry/SFE_BMP180.git
